<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FBS.My.MySettings.FBSConnectionString" connectionString="Data Source=ncct96.database.windows.net;Initial Catalog=FBS;User ID=ncct96;Password = Wmq6783Aew5352"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>